@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@model PowershellScriptConsumeMVC.Models.MsgQueModels
<br />
@Html.DropDownListFor(m => m.msgQuueName, Model.MsgQueList, new { @id = "CountryList", @clas = "form-control" }) 
<br />
<hr />
<div id="mypartial"> </div>





<script type="text/javascript">

    $(document).ready(function () {
    @*var route = '@Url.Action("PartialView", "Home")';
    route = encodeURI(route);
     $('#mypartial').load(route);*@


     $('#CountryList').on('change',(function () {
    var countrylist = $(this).val();
    $.ajax({
        url: '@Url.Action("PartialView", "Home")',
        type: 'POST',
        data: JSON.stringify({ countrylist: countrylist }),
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
           $("#mypartial").html(data);
        }
    });
    }));
 });

</script>