@{
    ViewBag.Title = "Message Queue";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@model PowershellScriptConsumeMVC.Models.MsgQueModels
<br />
@Html.DropDownListFor(m => m.msgQuueName, Model.MsgQueList, new { @id = "MsgQueueList", @clas = "form-control" })
<br />
<hr />
<div id="mypartial"> </div>





<script type="text/javascript">

    $(document).ready(function () {
    @*var route = '@Url.Action("PartialView", "Home")';
    route = encodeURI(route);
     $('#mypartial').load(route);*@


    $('#MsgQueueList').on('change',(function () {
    var msgQueue = $(this).val();
    $.ajax({
        url: '@Url.Action("PartialView", "Home")',
        type: 'POST',
        data: JSON.stringify({ queueName: msgQueue }),
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
           $("#mypartial").html(data);
        }
    });
     }));
        $(document).on("click", ".btnsub", function (e) {
            /// Do your stuff

         //   alert($(this).attr("id"));
            var get_id = $(this).attr("id");
            var id = get_id.replace("btn_", "");
            var txtId = "#txtMsgBody" + id;
            var textdata = $(txtId).val();
            var respons = "#hdnRsp" + id;
            var respQueue = $(respons).val();
            var sourceque = $('#MsgQueueList').val();
            console.log(sourceque);
            console.log(id);
            console.log(respQueue);
            console.log(textdata);

             $.ajax({

                 url: '@Url.Action("MoveQueue", "Home")',
                 type: "POST",
               // url: "/Home/MoveQueue",
                //data: {
                //    LookupId: id,
                //    message: textdata
                //},
                 data: JSON.stringify({ LookupId: id, message: textdata, msgQueueName: respQueue, destination:sourceque}),
                 contentType: 'application/json; charset=utf-8' ,
                success: function (data) {
                    
                    refreshGrid(sourceque)
                    alert(data);
                },
                error: function () {
                    alert("Error occured!!")
                }
            });

        });

        function refreshGrid(msgQueue) {
                $.ajax({
        url: '@Url.Action("PartialView", "Home")',
        type: 'POST',
        data: JSON.stringify({ queueName: msgQueue }),
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
           $("#mypartial").html(data);
        }
    });
        }

        $('#messageModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('id') // Extract info from data-* attributes
            console.log(recipient);
            var txtId = "#txtMsgBody" + recipient;
            var textdata = $(txtId).val();
            var respons = "#hdnRsp" + recipient;
            var respQueue = $(respons).val();
            var sourceque = $('#MsgQueueList').val();


            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body textarea').text(textdata);
            modal.find('.modal-body input').val(recipient)
            modal.find('.modal-body label lblresponsequeue ').text(respons);
            modal.find('.modal-body label lblRecipent ').text(sourceque);
        });


 });

</script>