@{
    ViewBag.Title = "Message Queue";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@model PowershellScriptConsumeMVC.Models.MsgQueModels
<br />
@Html.DropDownListFor(m => m.msgQuueName, Model.MsgQueList, new { @id = "MsgQueueList", @clas = "form-control" })
<br />
<hr />
<div id="mypartial"> </div>





<script type="text/javascript">

    $(document).ready(function () {
    @*var route = '@Url.Action("PartialView", "Home")';
    route = encodeURI(route);
     $('#mypartial').load(route);*@


    $('#MsgQueueList').on('change',(function () {
    var msgQueue = $(this).val();
    $.ajax({
        url: '@Url.Action("PartialView", "Home")',
        type: 'POST',
        data: JSON.stringify({ queueName: msgQueue }),
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
           $("#mypartial").html(data);
        }
    });
     }));
        $(document).on("click", ".btnsub", function (e) {
            /// Do your stuff

         //   alert($(this).attr("id"));
            var get_id = $(this).attr("id");
            var id = get_id.replace("btn_", "");
            var txtId = "#txtMsgBody" + id;
            var textdata = $(txtId).val();
            var respons = "#hdnRsp" + id;
            var respQueue = $(respons).val();
            var sourceque = $('#MsgQueueList').val();
            console.log(sourceque);
            console.log(id);
            console.log(respQueue);
            console.log(textdata);

             $.ajax({
                 
                 url: '@Url.Action("MoveQueue", "Home")',
                 type: "POST",
               // url: "/Home/MoveQueue",
                //data: {
                //    LookupId: id,
                //    message: textdata
                //},
                 data: JSON.stringify({ LookupId: id, message: textdata, msgQueueName: respQueue, destination:sourceque}),
                 contentType: 'application/json; charset=utf-8' ,
                success: function (data) {
                    alert(data);
                },
                error: function () {
                    alert("Error occured!!")
                }
            });

        });

        //$('.btnsub').on('click',(function () {
        //    console.log("Function onclick inside");
        //    var get_id = $(this).find('input').val();
        //    var get_attrid = $(this).find('.btnsub input').attr('id');
        //    var txtId = "txtMsgBody" + get_attrid;
        //    console.log(get_id);
        //    console.log(get_attrid);
        //    console.log(txtId);
        //    localStorage.setItem("ContainerID", get_attrid);
        //    localStorage.setItem("ElementID", get_id);

        //    //$.ajax({
        //    //    type: "POST",
        //    //    url: "/Home/JqAJAX",
        //    //    data: {
        //    //        parentID: divparent,
        //    //        ID: get_id
        //    //    },
        //    //    //  dataType: "json"  ,
        //    //    success: function (data) {
        //    //        alert(data.msg);
        //    //    },
        //    //    error: function () {
        //    //        alert("Error occured!!")
        //    //    }
        //    //});
        //}));
 });

</script>